@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0b0b0e;
  color: #e2e8f0;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #0f1015;
}
::-webkit-scrollbar-thumb {
  background: #262936;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #f97316;
}